* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

.logo {
    margin-top: 100px;
}

h1, h2, h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 5px;
    margin-bottom: 30px;
}

h3 {
    margin: auto;
    margin-bottom: 15px;
}

.input {
    width: 500px;
    height: 25px;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.label-checkbox {
    color: white;
    font-size: small;
    font-family: 'Lato', sans-serif; 
    text-align: center;
}

.validate {
    text-align: center;
}

.botao {
    background-color: #005bfffa;
    width: 500px;
    height: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    color: white;
}

.botao:hover {
    background-color: #1a539e;
}